<big>**1. Understand folder structure. Perform operations on files in different folders.**</big>

I set up a Homework folder in my Downloads folder and set up two folders in that folder, called Data and code. Store the data needed next in the data folder, and the completed code will be stored in the Code folder.

In [1]:
cd

/Users/chenche

In [2]:
cd Downloads/Homework/data

/Users/chenche/Downloads/Homework/data

In [3]:
ls -aFl

total 826032
drwxr-xr-x  5 chenche  staff        160  1  3 23:53 ./
drwxr-xr-x  8 chenche  staff        256  1  6 21:47 ../
-rw-r--r--@ 1 chenche  staff       6148  1  3 16:31 .DS_Store
-rw-r--r--  1 chenche  staff  340928380  1  3 23:53 Motor_Vehicle_Collisions_-_Crashes.csv
-rw-r--r--@ 1 chenche  staff   69601296 12 30 11:19 Motor_Vehicle_Collisions_-_Crashes.csv.zip

Example:

When I want to use data in another folder, I can use .. to move back one directory level.

In [4]:
cd ../../dc-economics-v2.1/data/

/Users/chenche/Downloads/dc-economics-v2.1/data

In [5]:
pwd

'/Users/chenche/Downloads/dc-economics-v2.1/data'

In [6]:
ls -aFl

total 16
drwxr-xr-x@  5 chenche  staff   160 11 10 20:28 ./
drwxr-xr-x@ 15 chenche  staff   480  1  5 19:40 ../
-rw-r--r--@  1 chenche  staff  6148 12 26 15:48 .DS_Store
drwxr-xr-x@ 38 chenche  staff  1216 11 26 16:19 derived/
drwxr-xr-x@  5 chenche  staff   160 11 10 20:28 raw/

Now return to the folder where the data we want to process.

In [7]:
cd ~/Downloads/Homework/data

/Users/chenche/Downloads/Homework/data

In [8]:
pwd

'/Users/chenche/Downloads/Homework/data'

In [9]:
ls -aFl

total 826032
drwxr-xr-x  5 chenche  staff        160  1  3 23:53 ./
drwxr-xr-x  8 chenche  staff        256  1  6 21:47 ../
-rw-r--r--@ 1 chenche  staff       6148  1  3 16:31 .DS_Store
-rw-r--r--  1 chenche  staff  340928380  1  3 23:53 Motor_Vehicle_Collisions_-_Crashes.csv
-rw-r--r--@ 1 chenche  staff   69601296 12 30 11:19 Motor_Vehicle_Collisions_-_Crashes.csv.zip

<big>**2. Automate repeating tasks using Python “for” loops.**</big>

In [10]:
import csv

In [11]:
csv_File = open("Motor_Vehicle_Collisions_-_Crashes.csv", "r")
reader = csv.reader(csv_File)
column_nopj = [row[11] for row in reader]

Use for loop to count the total number of people who were not injured in the motor vehicle collisions

In [12]:
count=0
for i in column_nopj:
    if i=='0':
        count+=1
print("The total number of uninjured persons in the motor vehicle collisions =" + str(count))

The total number of uninjured persons in the motor vehicle collisions =1740955

**<big>3. Break up work into smaller components using Python functions.</big>**

In [13]:
import pandas as pd
import numpy as np

In [14]:
MVCdata = pd.read_csv('/Users/chenche/Downloads/Homework/data/Motor_Vehicle_Collisions_-_Crashes.csv')

We can use python function to break up the work into smaller component. Define a function using def.

For example, assuming that in a Motor Vehicle Collisions, 18 or more people injured is considered a major incident. Now we define a function that can show us all of major incident.

In [17]:
def major_accident():
    df = MVCdata.loc[(MVCdata["numberofpersonsinjured"] > 17), ["crashdate", "collision_id", "numberofpersonsinjured"]]
    print(df)

In [18]:
major_accident()

          crashdate  collision_id  numberofpersonsinjured
10602    11/16/2018     4029520.0                    20.0
249379   11/27/2019     4249601.0                    20.0
313215   10/10/2017     4025003.0                    31.0
444874   06/10/2019     4149518.0                    18.0
495621   04/06/2018     3876246.0                    22.0
667442   05/26/2017     3678545.0                    19.0
688848   06/21/2017     3701516.0                    19.0
764709   06/14/2017     3692079.0                    18.0
826255   05/18/2017     3673559.0                    27.0
952936   08/12/2016     3500865.0                    18.0
982584   08/13/2015     3278035.0                    19.0
993542   06/26/2016     3470165.0                    19.0
1183639  06/08/2015     3237061.0                    22.0
1264463  04/17/2015     3204269.0                    32.0
1297317  09/09/2013      183929.0                    43.0
1320003  07/22/2013      181455.0                    24.0
1340540  02/04/2015     3164171.0                    22.0
1365881  01/07/2015     3148869.0                    24.0
1655745  02/04/2014      170324.0                    18.0
1716812  08/01/2012     2879058.0                    24.0

<big>**4. Use Python “lists” and “dictionaries” appropriately. Demonstrate one of the two.**</big>

Demonstrate use Python "list" appropriately.

In [20]:
MVCdata1 = pd.read_csv('/Users/chenche/Downloads/Homework/data/Motor_Vehicle_Collisions_-_Crashes.csv', usecols = ['collision_id', 'numberofpersonsinjured', 'vehicletypecode1'])
MVCdata2 = MVCdata1.iloc[[1,2,3]]
MVCdatalist = MVCdata2.values.tolist()
print(MVCdatalist)

[[1.0, 4033796.0, 'Tractor Truck Diesel'], [0.0, 4042419.0, 'Sedan'], [0.0, 4044189.0, 'Sedan']]

In [21]:
type(MVCdatalist)

list

In [22]:
MVCdatalist[:]

[[1.0, 4033796.0, 'Tractor Truck Diesel'],
 [0.0, 4042419.0, 'Sedan'],
 [0.0, 4044189.0, 'Sedan']]

In [23]:
MVCdatalist[1:3]

[[0.0, 4042419.0, 'Sedan'], [0.0, 4044189.0, 'Sedan']]

In [24]:
MVCdatalist = MVCdatalist + [[0, 4378223, 'Sedan']]
MVCdatalist

[[1.0, 4033796.0, 'Tractor Truck Diesel'],
 [0.0, 4042419.0, 'Sedan'],
 [0.0, 4044189.0, 'Sedan'],
 [0, 4378223, 'Sedan']]

In [25]:
del[MVCdatalist[3]] 
MVCdatalist

[[1.0, 4033796.0, 'Tractor Truck Diesel'],
 [0.0, 4042419.0, 'Sedan'],
 [0.0, 4044189.0, 'Sedan']]

In [26]:
print('MVCdatalist:', MVCdatalist)
print('length:', len(MVCdatalist))

MVCdatalist: [[1.0, 4033796.0, 'Tractor Truck Diesel'], [0.0, 4042419.0, 'Sedan'], [0.0, 4044189.0, 'Sedan']]
length: 3

In [27]:
MVCdatalist.append([1, 4378361, 'Station Wagon/Sport Utility Vehicle'])
print('MCVdatalist:', MVCdatalist)

MCVdatalist: [[1.0, 4033796.0, 'Tractor Truck Diesel'], [0.0, 4042419.0, 'Sedan'], [0.0, 4044189.0, 'Sedan'], [1, 4378361, 'Station Wagon/Sport Utility Vehicle']]

<big>**9. Aggregate, reshape, and combine data for analysis in Python or Stata. Demonstrate at least one of these data manipulations.**</big>

I choose to demonstrate combine data for analysis in Python.

**1. append**

In [28]:
MVCdata3 = pd.read_csv('/Users/chenche/Downloads/Homework/data/Motor_Vehicle_Collisions_-_Crashes.csv', usecols = ['vehicletypecode1'])
MVCdata4 = MVCdata3.iloc[[1,2,3]]
MVCdata5 = MVCdata3.iloc[[4,5,6]]

In [29]:
print(MVCdata4)

       vehicletypecode1
1  Tractor Truck Diesel
2                 Sedan
3                 Sedan

In [30]:
print(MVCdata5)

                      vehicletypecode1
4  Station Wagon/Sport Utility Vehicle
5                                Sedan
6                                 Taxi

In [31]:
MVC_append_result = MVCdata4.append(MVCdata5)
print(MVC_append_result)

                      vehicletypecode1
1                 Tractor Truck Diesel
2                                Sedan
3                                Sedan
4  Station Wagon/Sport Utility Vehicle
5                                Sedan
6                                 Taxi

**2. merge**

In [33]:
MVCdata7 = pd.read_csv('/Users/chenche/Downloads/Homework/data/Motor_Vehicle_Collisions_-_Crashes.csv', usecols = ['collision_id', 'vehicletypecode1'])
MVCdata8 = MVCdata7.iloc[[1,2,3]]
print(MVCdata8)

   collision_id      vehicletypecode1
1     4033796.0  Tractor Truck Diesel
2     4042419.0                 Sedan
3     4044189.0                 Sedan

In [36]:
MVCdata9 = pd.read_csv('/Users/chenche/Downloads/Homework/data/Motor_Vehicle_Collisions_-_Crashes.csv', usecols = ['vehicletypecode1', 'numberofpersonsinjured'])
MVCdata10 = MVCdata9.iloc[[1,2,3]]
print(MVCdata10)

   numberofpersonsinjured      vehicletypecode1
1                     1.0  Tractor Truck Diesel
2                     0.0                 Sedan
3                     0.0                 Sedan

In [38]:
MVC_merge_result = pd.merge(MVCdata8, MVCdata10, on = 'vehicletypecode1')
MVC_merge_result

   collision_id      vehicletypecode1  numberofpersonsinjured
0     4033796.0  Tractor Truck Diesel                     1.0
1     4042419.0                 Sedan                     0.0
2     4042419.0                 Sedan                     0.0
3     4044189.0                 Sedan                     0.0
4     4044189.0                 Sedan                     0.0

**3. Combine two columns into one column**

For example, combine the CRASH DATE and CRASH TIME columns into a column, then convert it to datetime format.

In [39]:
MVCdata.head()

,crashdate,crashtime,borough,zipcode,latitude,longitude,location,onstreetname,crossstreetname,offstreetname,...,contributingfactorvehicle2,contributingfactorvehicle3,contributingfactorvehicle4,contributingfactorvehicle5,collision_id,vehicletypecode1,vehicletypecode2,vehicletypecode3,vehicletypecode4,vehicletypecode5
0,12/14/2018,18:45,MANHATTAN,10027.0,40.810318,-73.943634,"""(40.810318, -73.943634)""",LENOX AVENUE,WEST 129 STREET,NaN,...,NaN,NaN,NaN,NaN,4047029.0,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,11/27/2018,13:40,MANHATTAN,10036.0,40.757435,-73.990265,"""(40.757435, -73.990265)""",NaN,NaN,303 WEST 42 STREET,...,Unspecified,Unspecified,NaN,NaN,4033796.0,Tractor Truck Diesel,Bike,Bus,NaN,NaN
2,12/10/2018,17:50,NaN,NaN,40.617554,-74.152611,"""(40.617554, -74.15261)""",DEPPE PLACE,WILLOW ROAD WEST,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4042419.0,Sedan,Sedan,NaN,NaN,NaN
3,12/13/2018,19:30,NaN,NaN,40.697556,-73.852776,"""(40.697556, -73.852776)""",WOODHAVEN BOULEVARD,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4044189.0,Sedan,Sedan,NaN,NaN,NaN
4,12/13/2018,23:30,MANHATTAN,10018.0,40.757732,-73.996857,"""(40.757732, -73.99686)""",10 AVENUE,WEST 39 STREET,NaN,...,Passing or Lane Usage Improper,NaN,NaN,NaN,4047898.0,Station Wagon/Sport Utility Vehicle,Taxi,NaN,NaN,NaN

In [40]:
MVCdata['crashdate'] = MVCdata['crashdate'] + ' ' + MVCdata['crashtime']
MVCdata['crashdate'] = pd.to_datetime(MVCdata['crashdate'], format='%m/%d/%Y %H:%M')
MVCdata_new = MVCdata.drop('crashtime',axis = 1)
MVCdata_new.head()

,crashdate,borough,zipcode,latitude,longitude,location,onstreetname,crossstreetname,offstreetname,numberofpersonsinjured,...,contributingfactorvehicle2,contributingfactorvehicle3,contributingfactorvehicle4,contributingfactorvehicle5,collision_id,vehicletypecode1,vehicletypecode2,vehicletypecode3,vehicletypecode4,vehicletypecode5
0,2018-12-14 18:45:00,MANHATTAN,10027.0,40.810318,-73.943634,"""(40.810318, -73.943634)""",LENOX AVENUE,WEST 129 STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4047029.0,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,2018-11-27 13:40:00,MANHATTAN,10036.0,40.757435,-73.990265,"""(40.757435, -73.990265)""",NaN,NaN,303 WEST 42 STREET,1.0,...,Unspecified,Unspecified,NaN,NaN,4033796.0,Tractor Truck Diesel,Bike,Bus,NaN,NaN
2,2018-12-10 17:50:00,NaN,NaN,40.617554,-74.152611,"""(40.617554, -74.15261)""",DEPPE PLACE,WILLOW ROAD WEST,NaN,0.0,...,Driver Inattention/Distraction,NaN,NaN,NaN,4042419.0,Sedan,Sedan,NaN,NaN,NaN
3,2018-12-13 19:30:00,NaN,NaN,40.697556,-73.852776,"""(40.697556, -73.852776)""",WOODHAVEN BOULEVARD,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4044189.0,Sedan,Sedan,NaN,NaN,NaN
4,2018-12-13 23:30:00,MANHATTAN,10018.0,40.757732,-73.996857,"""(40.757732, -73.99686)""",10 AVENUE,WEST 39 STREET,NaN,0.0,...,Passing or Lane Usage Improper,NaN,NaN,NaN,4047898.0,Station Wagon/Sport Utility Vehicle,Taxi,NaN,NaN,NaN